    {{#if loginError}}
    <button class="button">
        <h4>{{loginError}}</h4>
    </button>
    {{/if}}
<div id="frontpage">
    <div class="container intro">
        <p><span class="homedesc">"Omnilect is a tool for linguists <br> to research the differences in languages, <br> pronunciations and the various
            namings <br> of the same concepts around the world."</span></p>
    <form method="GET" action="/map">
        <button class="button"><h3>Discover Language</h3></button>
    </form>
    </div>
    
</div>