<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<div>
<form method="GET" action="/user/login">
    <button id="login-button">LOG IN</button>
</form>

<form method="GET" action="/user/register">
    <button id="register-button">REGISTER</button>
</form>
</div>