<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/styles/style.css"/>
</head>

<body>
  
<nav class="navbar">
{{#if user}}
<div class="navlinks">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/update">My Preferences</a>
      </li>
    </ul>
  </div>
  <div>
    <form class="form-inline my-2 my-lg-0" method="POST" action="/user/logout">
      <button id="button">LOG OUT</button>
    </form>
  </div>
{{else}}
 <form class="form-inline" method="POST" action="/user/login">
    <div class="login-bars">
      <input type="text" class="form-control inputfield" placeholder="E-mail" name="email" aria-describedby="basic-addon1" required>
      <input type="password" class="form-control inputfield" placeholder="Password" name="password" aria-describedby="basic-addon1" required>
    </div>
    <button id="button">LOG IN</button>
  </form>
  <form method="GET" action="/user/register">
    <button id="button">REGISTER</button>
</form>
{{/if}}
</nav>

  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>