<div id="map" style="height: 70vh; width: 70vw;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key={{googMapsApiKey}}"></script>
<script>
  const options = {{{surveyOptions}}}
  const results = {{{surveyResults}}}
</script>
<script type="text/javascript" src="/scripts/linguisticMap.js"></script>