<div id="map" style="height: 70vh; width: 70vw; margin-left:15vh;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key={{googMapsApiKey}}"></script>
<script>
  const options = {{{surveyOptions}}};
  const results = {{{surveyResults}}};
  const icons = ['/images/bluedisk.png', '/images/greendisk.png', '/images/reddisk.png', '/images/cyandisk.png', '/images/yellowdisk.png', '/images/magentadisk.png'];
</script>
<script type="text/javascript" src="/scripts/linguisticMap.js"></script>