<div class="container">

<h1>{{question}}</h1>


  <div class="map-and-legend" style="display:flex; flex-direction:row-reverse; justify-content: center;">
    <div id="map" class="" style="height: 70vh; width: 70vw;"></div>
    <div id="legend" class="" style="max-width: 20%; display: flex; justify-content:flex-end; flex-direction: column;"></div>
  </div>
  <div>
    <select id="icon-selector">
      <option value="0">View icons as transparent dots</option>
      <option value="1">View icons as opaque dots</option>
    </select>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key={{googMapsApiKey}}"></script>
  <script>
    const options = {{{surveyOptions}}};
    const results = {{{surveyResults}}};
    const icons = [
      ['/images/bluetransp.png', '/images/greentransp.png', '/images/redtransp.png', '/images/cyantransp.png', '/images/yellowtransp.png', '/images/magentatransp.png', '/images/blacktransp.png'],
      ['/images/blueopaque.png', '/images/greenopaque.png', '/images/redopaque.png', '/images/cyanopaque.png', '/images/yellowopaque.png', '/images/magentaopaque.png', '/images/blackopaque.png']
    ]
    let iconset = 0;
  </script>
  <script type="text/javascript" src="/scripts/linguisticMap.js"></script>
</div>