$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #fcfcfc;


body {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
  font-family: $font-sans;
  background-color: #97defc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4d87e3;
  }

  .navbar-nav{
    display: flex;
    flex-direction: row;
  }

  .navlinks {
    display: flex;
    justify-content: space-between;

    .nav-item {
       padding-right: 30px;
       padding-bottom: 0;
       font-size: 1.5em;
       color: white;
     }}}

#section-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.register-title {
  margin: 20px;
}

.registration-sections {
  display: flex;
  justify-content: space-evenly;
  #section-map {
    #map {
      width: 40vw;
      height: 60vh;
    }
  }
}

a {
  color: $link-color;
}

#button {
  padding: 7px;
  font-weight: 600;
  margin: 0px 4px;
  background-color: #e8613f;
  border-style: none;
  border-radius: 5px;
  color: white;

  &:hover { background-color: #060038}
}

.inputfield { 
  padding: 6px;
  border-style: none;
  border-radius: 5px;
  background-color: #dae2f0;
}

#frontpage {
  background-image: url('/images/frontpage.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}