$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #fcfcfc;


body {
  margin: 0;
  padding: 0px;
  font-family: $font-sans;
  background-color: #97defc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4d87e3;

    #nav-button {
      padding: 7px;
      margin: 0px 4px;
      background-color: #e8613f;
      border-style: none;
      border-radius: 5px;
      color: white;

      &:hover { background-color: #060038}
    }
  }

  .navbar-nav{
    display: flex;
    flex-direction: row;
  }

  .navlinks {
    display: flex;
    justify-content: space-between;

    .nav-item {
       padding-right: 30px;
       padding-bottom: 0;
       font-size: 1.5em;
       color: white;
     }
  }

}

#section-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  #reg-button {
      padding: 7px;
      margin: 0px 4px;
      background-color: #e8613f;
      border-style: none;
      border-radius: 5px;
      color: white;

      &:hover { background-color: #060038}
  }
}

.register-title {
  margin: 20px;
}

.registration-sections {
  display: flex;
  justify-content: space-evenly;
  #section-map {
    #map {
      width: 40vw;
      height: 60vh;
    }
  }
}

a {
  color: $link-color;
}
